In [1]:
from helpers.importing import include_root

include_root()

Project root: c:\Users\thijs\Documents\GitHub\SUMO-AI
Notebook directory: c:\Users\thijs\Documents\GitHub\SUMO-AI\notebooks
New working directory: c:\Users\thijs\Documents\GitHub\SUMO-AI
sys.path: ['c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\notebooks', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\python311.zip', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\DLLs', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\Lib', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\venv', '', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\venv\\Lib\\site-packages', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\venv\\Lib\\site-packages\\win32', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\venv\\Lib\\site-packages\\win32\\lib', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI\\venv\\Lib\\site-packages\\Pythonwin', 'c:\\Users\\thijs\\Documents\\GitHub\\SUMO-AI']

In [ ]:
# import
import pandas as pd
from backend.database.queries import DfQueries
from backend.utils.parsing import sumo_rank_to_value
from backend.api.sumo import SumoAPI 

api = SumoAPI()

iterate door matches

boor beide rikishi vind time correcte data

loss dataframe matchend op match id

merge all

In [ ]:
df1 = DfQueries.basho_rikishi()
df2 = DfQueries.basho_matches()
print(df1.columns)
print(df2.columns)

Index(['basho_id', 'rikishi_id', 'rikishi_shikona', 'rikishi_height',
       'rikishi_weight', 'special_prize', 'yusho'],
      dtype='object')
Index(['basho_id', 'day', 'match_no', 'division', 'kimarite',
       'east_rikishi_id', 'east_shikona', 'east_rank', 'east_weight',
       'east_height', 'west_rikishi_id', 'west_shikona', 'west_rank',
       'west_weight', 'west_height', 'winner_id', 'winner_en', 'winner_jp'],
      dtype='object')

In [4]:
def rikishi_wins_this_basho(basho_id, day, rikishi):
    df = df2.loc[df2['basho_id'] == basho_id]
    df = df.loc[df['day'] < day]
    return len(df[df['winner_id'] == rikishi])


for index, i in enumerate(df2['match_no']):
    print(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'match_no'])
    print(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'east_shikona'])
    print(df2.loc[df2.index[index], 'west_rikishi_id'], df2.loc[df2.index[index], 'west_shikona'])
    print(rikishi_wins_this_basho(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    break

202003 15 20
3081 Hakuho
3181 Kakuryu
12

In [5]:
def rikishi_wins_last_2_years(basho_id, day, rikishi):
    basho_id = int(basho_id)
    basho_id_range = [str(i) for i in range(basho_id, basho_id - 12, -1)]
    # print(basho_id_range)
    df = df2.loc[df2['basho_id'].isin(basho_id_range)]
    return len(df[df['winner_id'] == rikishi])

count = 0

for index, i in enumerate(df2['match_no']):
    print(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'match_no'])
    print(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'east_shikona'])
    print(df2.loc[df2.index[index], 'west_rikishi_id'], df2.loc[df2.index[index], 'west_shikona'])
    print(rikishi_wins_last_2_years(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    count += 1
    if count > 10:
        break

202003 15 20
3081 Hakuho
3181 Kakuryu
14
201907 15 18
3181 Kakuryu
3081 Hakuho
35
201903 15 21
3081 Hakuho
3181 Kakuryu
15
201809 15 21
3181 Kakuryu
3081 Hakuho
40
201805 15 20
3181 Kakuryu
3081 Hakuho
27
201611 13 20
3081 Hakuho
3181 Kakuryu
50
201605 15 21
3081 Hakuho
3181 Kakuryu
29
201603 13 20
3181 Kakuryu
3081 Hakuho
10
201511 15 19
3181 Kakuryu
3081 Hakuho
34
201507 15 20
3081 Hakuho
3181 Kakuryu
39
201411 15 21
3081 Hakuho
3181 Kakuryu
67

In [6]:
def ratio_to_opponent(P1, P2):
    df = df2.loc[((df2['east_rikishi_id'] == P1) & (df2['west_rikishi_id'] == P2)) |
             ((df2['east_rikishi_id'] == P2) & (df2['west_rikishi_id'] == P1))]
    # print(len(df))
    return len(df.loc[df['winner_id'] == P1]), len(df.loc[df['winner_id'] == P2])
    
    
    # df = df.loc[df['day'] < day]
    # return len(df[df['winner_id'] == rikishi])

count = 0

for index, i in enumerate(df2['match_no']):
    print(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'match_no'])
    print(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'east_shikona'])
    print(df2.loc[df2.index[index], 'west_rikishi_id'], df2.loc[df2.index[index], 'west_shikona'])
    print(ratio_to_opponent(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'west_rikishi_id']))
    count += 1
    if count > 10:
        break

202003 15 20
3081 Hakuho
3181 Kakuryu
(31, 6)
201907 15 18
3181 Kakuryu
3081 Hakuho
(6, 31)
201903 15 21
3081 Hakuho
3181 Kakuryu
(31, 6)
201809 15 21
3181 Kakuryu
3081 Hakuho
(6, 31)
201805 15 20
3181 Kakuryu
3081 Hakuho
(6, 31)
201611 13 20
3081 Hakuho
3181 Kakuryu
(31, 6)
201605 15 21
3081 Hakuho
3181 Kakuryu
(31, 6)
201603 13 20
3181 Kakuryu
3081 Hakuho
(6, 31)
201511 15 19
3181 Kakuryu
3081 Hakuho
(6, 31)
201507 15 20
3081 Hakuho
3181 Kakuryu
(31, 6)
201411 15 21
3081 Hakuho
3181 Kakuryu
(31, 6)

In [7]:
def winstreak(basho_id, day, rikishi):
    df = df2.loc[((df2['east_rikishi_id'] == rikishi) | (df2['east_rikishi_id'] == rikishi))]
    df_sorted = df.sort_values(by=['basho_id', 'day'], ascending=[False, False])
    current_row_index = df_sorted[(df_sorted['basho_id'] == basho_id) & (df_sorted['day'] == day)].index[0]
    df_filtered = df_sorted.loc[current_row_index:]
    wins = 0
    for index, i in enumerate(df_filtered['winner_id']):
        if i == rikishi:
            wins += 1
        if i != rikishi:
            return wins
    # print(df_filtered)
    # print(df)

count = 0

for index, i in enumerate(df2['match_no']):
    print(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'match_no'])
    print(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'east_shikona'])
    print(df2.loc[df2.index[index], 'west_rikishi_id'], df2.loc[df2.index[index], 'west_shikona'])
    print(winstreak(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    count += 1
    if count > 10:
        break

202003 15 20
3081 Hakuho
3181 Kakuryu
3
201907 15 18
3181 Kakuryu
3081 Hakuho
2
201903 15 21
3081 Hakuho
3181 Kakuryu
19
201809 15 21
3181 Kakuryu
3081 Hakuho
0
201805 15 20
3181 Kakuryu
3081 Hakuho
11
201611 13 20
3081 Hakuho
3181 Kakuryu
0
201605 15 21
3081 Hakuho
3181 Kakuryu
15
201603 13 20
3181 Kakuryu
3081 Hakuho
0
201511 15 19
3181 Kakuryu
3081 Hakuho
1
201507 15 20
3081 Hakuho
3181 Kakuryu
5
201411 15 21
3081 Hakuho
3181 Kakuryu
9

In [8]:
count = 0

for index, i in enumerate(df2['match_no']):
    print(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'match_no'])
    print(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'east_shikona'])
    print(df2.loc[df2.index[index], 'west_rikishi_id'], df2.loc[df2.index[index], 'west_shikona'])
    print("rikishi wins this basho", rikishi_wins_this_basho(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    print("rikishi wins last 2 years", rikishi_wins_last_2_years(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    print("ratio to opponent", ratio_to_opponent(df2.loc[df2.index[index], 'east_rikishi_id'], df2.loc[df2.index[index], 'west_rikishi_id']))
    print("winstreak", winstreak(df2.loc[df2.index[index], 'basho_id'], df2.loc[df2.index[index], 'day'], df2.loc[df2.index[index], 'east_rikishi_id']))
    count += 1
    if count > 10:
        break

202003 15 20
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 12
rikishi wins last 2 years 14
ratio to opponent (31, 6)
winstreak 3
201907 15 18
3181 Kakuryu
3081 Hakuho
rikishi wins this basho 13
rikishi wins last 2 years 35
ratio to opponent (6, 31)
winstreak 2
201903 15 21
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 14
rikishi wins last 2 years 15
ratio to opponent (31, 6)
winstreak 19
201809 15 21
3181 Kakuryu
3081 Hakuho
rikishi wins this basho 10
rikishi wins last 2 years 40
ratio to opponent (6, 31)
winstreak 0
201805 15 20
3181 Kakuryu
3081 Hakuho
rikishi wins this basho 13
rikishi wins last 2 years 27
ratio to opponent (6, 31)
winstreak 11
201611 13 20
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 9
rikishi wins last 2 years 50
ratio to opponent (31, 6)
winstreak 0
201605 15 21
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 14
rikishi wins last 2 years 29
ratio to opponent (31, 6)
winstreak 15
201603 13 20
3181 Kakuryu
3081 Hakuho
rikishi wins this basho 8
rikishi wins last 2 years 10
ratio to opponent (6, 31)
winstreak 0
201511 15 19
3181 Kakuryu
3081 Hakuho
rikishi wins this basho 8
rikishi wins last 2 years 34
ratio to opponent (6, 31)
winstreak 1
201507 15 20
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 13
rikishi wins last 2 years 39
ratio to opponent (31, 6)
winstreak 5
201411 15 21
3081 Hakuho
3181 Kakuryu
rikishi wins this basho 13
rikishi wins last 2 years 67
ratio to opponent (31, 6)
winstreak 9

In [ ]:
from backend.core.helpers.utils.columns import rikishi_stats


rikishi_stats(df2)

,basho_id,rikishi_wins_this_basho,rikishi_wins_last_2_years,ratio_to_opponent,winstreak
0,202003,12,14,0.837838,3
1,201907,13,35,0.162162,2
2,201903,14,15,0.837838,19
3,201809,10,40,0.162162,0
4,201805,13,27,0.162162,11
5,201611,9,50,0.837838,0
6,201605,14,29,0.837838,15
7,201603,8,10,0.162162,0
8,201511,8,34,0.162162,1
9,201507,13,39,0.837838,5
10,201411,13,67,0.837838,9