- Correlation Matrix
- Scatter Plots

add whatever

In [1]:
from helpers.importing import include_root

include_root()

Project root: c:\Users\thijs\Documents\GitHub\SUMO-AI (Unchanged)

In [2]:
from database.queries import DfQueries
from utils.columns import add_winstreaks, count_kimarite, get_wins, ratio_to_opponent


df_rikishi = DfQueries.rikishis()
df_matches = DfQueries.matches()


# count_kimarite(df_rikishi, df_matches)
df_matches = add_winstreaks(df_matches)
df_matches = ratio_to_opponent(df_matches)
df_matches = get_wins(df_matches)

ModuleNotFoundError: No module named 'database'

In [ ]:
from utils.parsing import sumo_rank_to_value


df_matches['east_rank_number'] = df_matches['east_rank'].apply(sumo_rank_to_value)
df_matches['west_rank_number'] = df_matches['west_rank'].apply(sumo_rank_to_value)

Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range
Mae-zumo list index out of range

In [ ]:
df_matches.columns

Index(['basho_id', 'division', 'day', 'match_no', 'east_id', 'east_shikona',
       'east_rank', 'west_id', 'west_shikona', 'west_rank', 'kimarite',
       'winner_id', 'winner_en', 'winner_jp', 'east_winstreak',
       'west_winstreak', 'east_ratio', 'west_ratio', 'east_wins', 'west_wins',
       'east_rank_number', 'west_rank_number'],
      dtype='object')

In [ ]:
# skiped division for now
# kimarite division for now

df_matches = df_matches[['east_rank_number', 'west_rank_number', 'east_winstreak','west_winstreak' ,'east_ratio', 'west_ratio', 'east_wins', 'west_wins', 'east_win?', 'west_win?']]
df_matches

,east_rank_number,west_rank_number,east_winstreak,west_winstreak,east_ratio,west_ratio,east_wins,west_wins
0,990,983,0,0,0.500000,0.500000,0,0
1,733,728,0,0,0.500000,0.500000,0,0
2,954,957,1,0,0.500000,0.500000,1,0
3,914,910,0,2,0.000000,1.000000,0,2
4,751,760,0,0,0.500000,0.500000,0,0
...,...,...,...,...,...,...,...,...
38932,504,517,0,0,1.000000,0.000000,412,117
38933,514,503,1,4,0.500000,0.500000,75,154
38934,506,515,1,2,0.000000,1.000000,616,17
38935,513,505,3,0,0.000000,1.000000,54,348
38936,503,201,5,3,0.555556,0.444444,155,248

In [ ]:
import pandas as pd
import numpy as np


corr = df_matches.corr()
corr.style.background_gradient(cmap='RdBu_r')
# 'RdBu_r', 'BrBG_r', & PuOr_r are other good diverging colormaps